<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CHECK FOR THE MACHED STRING</h1>
    <form method="post">
        <p>Enter the REGULAR EXPRESSION</p>
        <input type="text" name="a"><br>
        <p>Enter the TEST STRING</p>
        <input type="text" name="b">
        <input type="submit" value="CHECK">
</body>
</html>